/.idea
.*.s[a-w][a-z]
*.profraw
target/
**/*.rs.bk
# Local Netlify folder
.netlify
node_modules/
test*.db
test*.db-journal
test_local_storage/
convex_local_backend*.sqlite3
convex_local_services*.sqlite3
convex_local_storage/
.DS_Store
__pycache__
sendgrid.env
.mypy_cache/
salted-cache.sqlite3
*~
*.tsbuildinfo

# -------
# Terraform

# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Crash log files
crash.log
# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
# logs for instances started by local big brain
/logs
# User-specific VSCode configuration
convex.code-workspace
.graphite_repo_config
.graphite_cache_persist
.graphite_pr_info

*.chunks.jsonl
